:root {
  --dark-main-bg: #333;
  --dark-main-fg: #eee;
  --dark-primary: #fa4;
  --dark-link: #fc4;
  --dark-link-visited: #fa4;
  --dark-link-hover: #fd5;
  --dark-contrast: #222;

  --light-main-bg: #eee;
  --light-main-fg: #333;
  --light-primary: #e84;
  --light-link: #e64;
  --light-link-visited: #e84;
  --light-link-hover: #d60;
  --light-contrast: #fff;

  --main-bg: var(--dark-main-bg);
  --main-fg: var(--dark-main-fg);
  --primary: var(--dark-primary);
  /* NOTE Used for contrasting with emphasized backgrounds */
  --contrast: var(--dark-contrast);
  --link: var(--dark-link);
  --link-visited: var(--dark-link-visited);
  --link-hover: var(--dark-link-visited);

  font-family: Arial, Helvetica, sans-serif;

  color: var(--main-fg);
  background-color: var(--main-bg);
}

/** NOTE
  * Some people disable all types of fingerprinting in their browser, which disables dark/light
  * mode detection. I'm just assuming those people prefer dark mode, and making that the default
  * when it's unknown.
  */
.light-only {
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg: var(--light-main-bg);
    --main-fg: var(--light-main-fg);
    --primary: var(--light-primary);
    --contrast: var(--light-contrast);
    --link: var(--light-link);
    --link-visited: var(--light-link-visited);
    --link-hover: var(--light-link-hover);
  }
  .dark-only {
    display: none;
  }
  .light-only {
    display: revert;
  }
}

:root[data-theme="light"] {
  --main-bg: var(--light-main-bg);
  --main-fg: var(--light-main-fg);
  --primary: var(--light-primary);
  --contrast: var(--light-contrast);
  --link: var(--light-link);
  --link-visited: var(--light-link-visited);
  --link-hover: var(--light-link-hover);
}
:root[data-theme="light"] .light-only {
  display: revert;
}
:root[data-theme="light"] .dark-only {
  display: none !important;
}

:root[data-theme="dark"] {
  --main-bg: var(--dark-main-bg);
  --main-fg: var(--dark-main-fg);
  --primary: var(--dark-primary);
  --contrast: var(--dark-contrast);
  --link: var(--dark-link);
  --link-visited: var(--dark-link-visited);
  --link-hover: var(--dark-link-visited);
}
:root[data-theme="dark"] .dark-only {
  display: revert;
}
:root[data-theme="dark"] .light-only {
  display: none !important;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  transition: color 0.25s ease-out;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}
a:hover {
  color: var(--link-hover);
}

button,
.button {
  padding: 0.25rem 0.5rem;
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
button.primary,
.button.primary {
  background-color: var(--primary);
  color: var(--contrast);
}

.hide {
  display: none;
}

/* Forms: {{{ */
label {
  font-weight: 600;
  display: block;
}
.option-input {
  display: block;
}
.option-input input[type="radio"],
form .inline input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.25em;
}
.option-input label {
  display: inline-block;
}
@media (min-width: 640px) {
  .option-input {
    display: inline-block;
  }
}
/* }}} */
