---
import BaseLayout from "../layouts/BaseLayout.astro";
import WmNickname from "../components/WmNickname.svelte";
const title = "Water Margin nickname generator";
---

<BaseLayout title={title}>
	<p>
		This is a nickname generator inspired by the nicknames of the 108 heroes of
		my favorite book, Water Margin. If you're not satisfied with your nickname,
		feel free to click the regenerate button.
	</p>
	<WmNickname client:only="svelte" />
</BaseLayout>
