---
---
<header>
	<nav>
		<a href="/">Homepage</a>
	</nav>
	<div class="controls">
		<!-- TODO Add dark/light button -->
	</div>
</header>

<style>
	header {
		display: flex;
		flex-direction: row;;
		justify-content: space-around;
	}
</style>
